body { background-color: rgb(52, 49, 46)}
h1 { color: gray;}
h2 { color: white;}
h3 { color: rgb(202, 63, 135)}
p { color: white;}
div { color: white;}
time {background-color: yellowgreen}
nav {background-color: rgb(52, 49, 46);}
b {color: rgb(52, 49, 46);}
img {
    display: block;
    margin: 0px auto;
    }